<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578426429899-7d77imcr0l914grl3e6rhqr9i34punt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578426429899-7d77imcr0l914grl3e6rhqr9i34punt4</string>
	<key>API_KEY</key>
	<string>AIzaSyCmj6pvfOULI6r93rGj7VVmaIGj2_yIoAw</string>
	<key>GCM_SENDER_ID</key>
	<string>578426429899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royalzsoftware.caparis</string>
	<key>PROJECT_ID</key>
	<string>caparis-867f1</string>
	<key>STORAGE_BUCKET</key>
	<string>caparis-867f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578426429899:ios:b059248fedd45e1cbc964e</string>
</dict>
</plist>